.focused {
    height: 500px;
    background-color: var(--main-color);
    padding: 94px 0 95px 0;
}
.focused__grid {
    display: grid;
    padding-right: 92px;
    grid-template-rows: 149px 64px 50px;
    row-gap: 24px;
    grid-template-columns: 445px 445px;
    grid-template-areas: 
    "title picture"
    "descr picture"
    "market picture";
    column-gap: 125px;
    
    
}
.focused__title {
    margin-top: 25px;
}
/* .grid {
    
    
    row-gap: 22px;
    column-gap: 125px;
    grid-template-areas: 
    "title picture"
    "descr picture"
    "specification picture";
} */
.grid__market {
    margin-top: 16px;
    width: 134px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid__icon {
    fill: white;
}


.title {
    grid-area: title;
}
.grid__market {
    grid-area: market;
    
}
.descr {
    grid-area: descr;
}
.grid__img {
    grid-area: picture;
}